certbot ignores status of order ressource

Hi,

I am using certbot to test a non-Letsencrypt server implementation. 

Platform is Ubuntu 18.04, installation was done out of ppa:certbot/certbot repo.

Certificate enrollment and revocation works except for situations in which certificate issuance needs to be approved by a CA administrator.

In such case the acme-server will set the status of the order ressource to “processing” and returns a “Retry-After” header as part of the response to the order status polling request send by certbot (so pretty similar as explained in RFC 855 section 7.4).

Based on the logs I see that certbot ignores the “non-valid” order-status and immediately tries to download the certificate. Is there any chance to influence this behavior and (depending on the value specified in the retry-after header) let cerbot enter a polling mode to fetch the status of the order-ressource and download the cert at a later stage?

Logs are attached.
[letsencrypt.log](https://github.com/certbot/certbot/files/4640086/letsencrypt.log)

Thank you for your help and have a nice day.
/GrindSa 


From Certbot perspective, this appears to break down into 2 bugs and 1 feature request:

1. Certbot should check the order status rather than only checking for the existence of the `certificate` field.
2. Certbot should not crash if  `application/problem+json`'s `detail` is `null`.
3. Assuming (1) and (2) are solved, Certbot will then poll for certificate readiness for 90 seconds. That deadline could be made configurable in order to service this use case.

From ACME server perspective:

1. Sending the `certificate` field in a `processing` order might be a spec compliance issue in itself. The field is defined as:
>certificate (optional, string):  A URL for the certificate that has been issued in response to this order.
If certificate issuance relies on manual approval, then the certificate field should be omitted (by my reading) until the resource actually exists at the URL.
2. Error `detail` could be omitted rather than encoding `null` for its value. Not clear whether a spec compliance issue or not, perhaps careful interpretation of RFC7807 is required.






Thank you for your swift response. I can confirm that after omitting the ```certificate``` field from ```order``` response certbot enters a polling loop.  

Omitting an empty  error ```detail``` still causes certbot to crash. See log attached (I left the ```certificate``` field in on purpose to trigger the problem).

[letsencrypt.log](https://github.com/certbot/certbot/files/4640316/letsencrypt.log)


You are right.  `detail` is not causing a crash. It's a normal abort because the cert. download operation failed, and there's no `Retry-After` handling for the `rateLimited` error type yet.

That leaves the finalization loop to fix: pay attention to order status, and observe `retry-after` for the `processing` status, per section 7.4.

Doing so will probably exceed the hard-coded issuance deadline of 90 seconds, I'm not sure yet how to reconcile the two, at least not without another CLI flag.