Add support for pre-authorizations

Please add support for pre-authorizations as defined in [section 7.4.1 of RFC8555](https://www.rfc-editor.org/rfc/rfc8555.html#section-7.4.1):

> Some servers may also wish to enable clients to obtain authorization for an identifier proactively, **outside of the context of a specific issuance**.  For example, a client hosting virtual servers for a collection of names might wish to obtain authorization before any virtual servers are created and only create a certificate when a virtual server starts up.

Support for pre-authorizations can **help the ecosystem to move to shorter domain validation re-use periods**, for example by supporting organizations in keeping their domain/IP address authorizations up to date, even if these eventually do not use ACME to request or provision their certificates.

Another advantage could be that the authorization and issuance process could be separated, ensuring that DNS credentials do not have to be exposed on a server that is accessible from the internet.


Yes, we still need this functionally.

We're closing this issue since (1) pre-authorization isn't implemented by LetsEncrypt and a number of other CAs that comprise the majority of our users' CA of choice, and (2) our integration test infrastructure is also based on LetsEncrypt's Pebble server (which won't implement pre-auth), so this feature will be difficult to test and maintain.