safe option - permanent redirect using 301

Hi,
Using `--apache` I selected the 'safe' option to always use HTTPS, then I went with my browser to test it, everything fine.

Problems started when I wanted to remove this option (because of IE6 not working). Firefox and Chrome strong cache the redirect and do not hit anymore the http version of the site, going directly to https. The effect is that **a browser that got the redirect once does not go anymore to the http version of the site**. If I use an other browser all is fine.

I tried to solve the problem with Firefox just waiting (days), then disabling / clearing the cache but still not succeeding, see the many "does not work for me" in  http://superuser.com/questions/467999/clear-301-redirect-cache-in-firefox 

I read more about it in http://getluky.net/2010/12/14/301-redirects-cannot-be-undon/ 

> If you’re lucky, this is an intranet app and you can instruct all users to manually clear their browser caches. If it’s public and this was a big redesign, your users may never even be able to get to a valid page if you just dump the old files on the webserver and they’re all redirected via 301s.

Is there a reason to use a permanent 301 redirect ? Looks like it can cause problems if one wants to go back to http.

The alternative would be using [302](https://tools.ietf.org/html/rfc7231#section-6.4.3). 

To use 302, the output Apache configuration should be changed in this way:

```
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [L,QSA,R=302]
```

I read now that there are search engines related reasons to use 301, see https://www.hochmanconsultants.com/301-vs-302-redirect/ so maybe it could be an idea to allow both options, 302 for trying, and 301 once a decision has been taken, otherwise I suggest to use 302 since 301 caused some troubles to me.


Thoughts @sagi?

Meanwhile I didn't do any work on it, but I checked now and is still impossible to go to http with that firefox

I tend to agree with @eleumik suggestion.
How about we change the default to 302 and add a CLI option for permanent redirect ?   

I think this should be solved on a documentation or UI level (i.e. add a warning or change the wording) if it's something that happens a lot.

301 seems to be the most appropriate status code here. RFC 2616, for example, states:
> Since the redirection might be altered on occasion, the client SHOULD continue to use the Request-URI for future requests.

In practice, this could mean that an application that links to a site with a 302 redirect will continue to use the `http://` URL, which would expose the first request to MitM. A good example for this could be a search engine not switching the URL to `http://` if 302 is used. (Some SEO articles suggest that search engines might gradually interpret 302s as permanent if they don't go away for a number of consecutive crawls, but as with all things SEO, it's hard to find a definite answer. I'd definitely rather err on the site of caution.)

HSTS seems to agree that 301 is more appropriate for `http://` to `https://` redirects:
> If an HSTS Host receives an HTTP request message over a non-secure transport, it SHOULD send an HTTP response message containing a status code indicating a permanent redirect, such as status code 301 (Section 10.3.2 of [RFC2616])

@pde has been more involved in designing security enhancements than I have. @pde, what are your thoughts on this?

https://wiki.apache.org/httpd/RedirectSSL

> https://wiki.apache.org/httpd/RedirectSSL

That appears to be (roughly) just different syntax for the RewriteRule currently used by `certbot`. The end result for both would be a HTTP 301/Permanent redirect.

(Or was this intended to be a statement of support for keeping 301? In that case, nevermind! 😄 )

Apache lists this method as "simpler and safer". And I also think keeping 301 is the way to go.

I looked up RFC2616 and i think patf mixed something up here. The sentence "Since the redirection might be altered on occasion, the client SHOULD continue to use the Request-URI for future requests." is true for 302 Redirects, not for 301. 
I did some testing and most Browsers seem to cache 301 for an unlimited time if you dont use Cache-Control headers. So the result is "lets encrypt and never go back".
At least the "safe" option in the wizard should clearly communicate to the user that this redirect is permanently and cacheable on client side. Better would be something like three option: "easy" (no redirect), "safe temporary" (with 302 for testing) and "safe permanently" (with 301). 

> I looked up RFC2616 and i think patf mixed something up here. The sentence "Since the redirection might be altered on occasion, the client SHOULD continue to use the Request-URI for future requests." is true for 302 Redirects, not for 301.

Yep, that's what my comment said. I was not referring to a section of the RFC describing HTTP Status Code 301. My argument was that applications like search engines would continue to link to the HTTP version of a site with 302s, whereas 301 would tell them to change that link to HTTPS, hence being more secure by preventing MitM attacks on that initial connection.

I think this should remain a 301 redirect. Making it 302 redirect dramatically hurts the site's security by making each incoming request (where the user didn't explicitly request the HTTPS site) vulnerable to MITM attacks as pointed out above.

I also don't really think it's worth making this configurable. Most users want/should have 301 redirects and it's hard for me to envision a scenario where turning off HTTPS access to your site is the best long term solution. In fact, the couple people in this thread who expressed support for this are the only the only people I've ever seen request this feature/change in the 3+ years of Certbot being able to add redirects.

Perhaps we could improve our docs/UI around this issue, but again, I think this is a pretty niche issue and turning off HTTPS is probably the wrong solution to whatever problems you're having that make you want to do this. I think adding much/any explanation about this in our UI/docs will be visual clutter for most users and confuse the issue.

For these reasons, I'm closing this issue. If someone disagrees with me and wants to argue their case, you're welcome to do so here or in a new issue.