Certbot can't verify OCSP responses signed by an explicitly designated responder

If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version):

Debian stretch/sid

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

certbot-auto

## I ran this command and it produced this output:

./certbot-auto certificates --cert-name buypasstest1

Saving debug log to /var/log/letsencrypt/letsencrypt.log
Invalid signature on OCSP response for /etc/letsencrypt/live/buypasstest1/cert.pem

## Certbot's behavior differed from what I expected because:

The OCSP response is correctly signed, not by the issuer itself but by a properly designated responder.

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in `/var/log/letsencrypt` by default. Feel free to redact domains, e-mail and IP addresses as you see fit.

2019-05-12 13:32:13,645:DEBUG:certbot.main:certbot version: 0.34.2
2019-05-12 13:32:13,647:DEBUG:certbot.main:Arguments: ['--cert-name', 'buypasstest1']
2019-05-12 13:32:13,647:DEBUG:certbot.main:Discovered plugins: PluginsRegistry(PluginEntryPoint#apache,PluginEntryPoint#manual,PluginEntryPoint#nginx,PluginEntryPoint#null,PluginEntryPoint#standalone,PluginEntryPoint#webroot)
2019-05-12 13:32:13,719:DEBUG:certbot.log:Root logging level set at 20
2019-05-12 13:32:13,721:INFO:certbot.log:Saving debug log to /var/log/letsencrypt/letsencrypt.log
2019-05-12 13:32:13,770:DEBUG:urllib3.connectionpool:Starting new HTTP connection (1): ocsp.buypass.com:80
2019-05-12 13:32:13,994:DEBUG:urllib3.connectionpool:http://ocsp.buypass.com:80 "POST / HTTP/1.1" 200 1702
2019-05-12 13:32:13,998:ERROR:certbot.ocsp:Invalid signature on OCSP response for /etc/letsencrypt/live/buypasstest1/cert.pem

## Here is the relevant nginx server block or Apache virtualhost for the domain I am configuring:

<doesn't matter.>


Quickly looking at the source code, I think the problem lies at https://github.com/certbot/certbot/blob/7fe82cf1ac4c6e40ab4a21a5a8822db200cb28ad/certbot/ocsp.py#L214.
This function takes into account only the first case of RFC6960 clause 4.2.2.2, and not the second one.

Hello @eabalea ! Thanks a lot for your report. I just submitted the PR #7054 to fix this case.