dns-google won't allow subdomain and wildcard of that subdomain

### Intro
Hello,
we're using `certbot` for certificates generation from `letsencrypt`, using different DNS Authentificator plugins, including `dns-google`. We are generating certificates for subdomains `subdomain.example.com` and wildcards `*.subdomain.example.com`.
### Problem
Since ~1-2 weeks, we aren't able to generate in the same `certbot` run certificates for wildcard and subdomains: `*.subdomain.example.com` and `subdomain.example.com` with `dns-google` Authenticator plugin. It says that the record `_acme-challenge.subdomain.example.com` already exists:
```
Encountered error adding TXT record: <HttpError 409 when requesting https://www.googleapis.com/dns/v1/projects/project-x/managedZones/1234567890/changes?alt=json returned "The resource 'entity.change.additions[0]' named '_acme-challenge.test1.example.com. (TXT)' already exists">
```
**NOTE** The zone doesn't have this record before `certbot` creates it. It creates it for the first domain (i.e. `*.test1.example.com`, which in the end creates it as `_acme-challenge.test1.example.com`) and then it fails for the second (i.e. `test1.example.com`). 

**Steps to reproduce**
```
export GOOGLE_APPLICATION_CREDENTIALS="service-account.json"
chmod 400 $GOOGLE_APPLICATION_CREDENTIALS
echo -e "$GOOGLE_APPLICATION_CREDENTIALS\ny\ny" | gsutil config -e
export dns_args="--dns-google --dns-google-credentials $GOOGLE_APPLICATION_CREDENTIALS --dns-google-propagation-seconds 120"

certbot certonly \
  --non-interactive \
  --agree-tos \
  --email admin@example.com \
  --domains "*.subdomain.example.com,subdomain.example.com" \
  --cert-name "test"\
  --server "https://acme-staging-v02.api.letsencrypt.org/directory" \
  $dns_args
```

**Cerbot version:** v0.31.0 (tried with newer and older versions)
**dns-google version:** 0.31.0 (also tried with different versions)

The same scenario works perfectly with `dns-cloudflare` for example. 



Oh, thanks for reporting!
@joohoi It looks like you worked on a similar PR in the past: #5652 -- are you free to take a look at this? If not I can give it a shot too.

I maintain DNS-Lexicon, DNS APIs are my speciality ^^

I am on it.

So, I tried various versions of Certbot, and successfully issued a certificate with the wildcard and the base domain using google dns plugin. I doubled checked the stability of the API by making several operations on TXT entries using Lexicon.

@vladiceanu, I think the problem is not on certbot side or the google cloud DNS API.

I found a very similar issue here: https://github.com/kubernetes-incubator/external-dns/issues/443

I would suppose that there is a structural error in your DNS zone, making the Google DNS API unable to work properly.

@adferrand thank you for checking out. Any hints on what should I check firstly in the DNS zone structure? Thanks 
**Note:** We do have CNAMEs for `*.subdomain.example.com` and `subdomain.example.com` pointing to a resolvable record

It is an error (RFC1034 section 3.6.2 violation) to have a CNAME and any other type of record for the same domain name. Probably that's what's happening here?

Hello, we are running into the same problem, but just on certain sub-domains starting with `qa-`:

- `qa-bbbbbbb.example.com` fails consistently
- `qa-cccccccc.example.com` fails consistently
- `aa-bbbbbbb.example.com` is OK
- `aa-cccccccc.example.com` is OK

@vladiceanu do you have the same behaviour?

Tried with:
**Cerbot version**: v1.3.0 and v1.2.0
**dns-google version**: v.1.3.0 and v1.2.0

The same domains worked on Route53.

