Thumbprint for HTTP (and DNS) challenge does not respect RFC and is not documented.

The HTTP and DNS challenges are supposed to expect a component in the response to be a "thumbprint".
RFC 8555 says "base64url(Thumbprint(accountKey))", it is not written anywhere which accountKey (public? private?).
In any case the "Account Thumbprint" reported by "certbot show_account" does not work, ever.

Using the one shown by the message "The key authorization file from the server did not match this challenge" issued when trying to generate/renew certificates seems rto work but:
a) It stops working, as it changes, if you move the account information on a different machine
b) It randomly seems to change, once again breaking the renewal issue; even though certificate private keys where not changed.

A stable, reliable, not randomly changing Thumbprint is needed, and per RFC 8555 it should be relatewd to the ACCOUNT, not to the certificate and not randomly changing. This lack of both documentation and stable behaviour prevents certificate renewal from different machines sharing the same hostname at DNS level.  See https://github.com/acmesh-official/acme.sh/wiki/Stateless-Mode for practical use cases.


## My operating system is (include version):

FreeBSD 13.2-RELEASE, but it does not matter.

## I installed Certbot with (snap, OS package manager, pip, certbot-auto, etc):

portinstall certbot, but it does not matter.

## I ran this command and it produced this output:

`root@rigatino:˜ certbot show_account
Saving debug log to /var/log/letsencrypt/letsencrypt.log
Account details for server https://acme-v02.api.letsencrypt.org/directory:
  Account URL: https://acme-v02.api.letsencrypt.org/acme/acct/<hidden>
  Account Thumbprint: <hidden>....QrSO3Zc
  Email contact: info@<hidden>
root@rigatino:˜ # I have an http server listening on port 80 and providing the correct answer at the challenge with 
root@rigatino:˜ # the Thumbprint ending in ....QrSO3Zc
root@rigatino:˜ certbot certonly --standalone --preferred-challenges http --http-01-address 127.0.0.1 --http-01-port 9080 -d <HIDDEN> <hidden>
Saving debug log to /var/log/letsencrypt/letsencrypt.log
Requesting a certificate for <hidden> and <hidden>

Certbot failed to authenticate some domains (authenticator: standalone). The Certificate Authority reported these problems:
  Domain: rigatino.<hidden>
  Type:   unauthorized
  Detail: The key authorization file from the server did not match this challenge "<hidden>... QrSO3Zc" != "<hidden>... jh7EdLE"

Hint: The Certificate Authority failed to download the challenge files from the temporary standalone webserver started by Certbot on 127.0.0.1:9080. Ensure that the listed domains point to this machine and that it can accept inbound connections from the internet.

Some challenges have failed.
Ask for help or search for solutions at https://community.letsencrypt.org. See the logfile /var/log/letsencrypt/letsencrypt.log or re-run Certbot with -v for more details.
`

## Certbot's behavior differed from what I expected because:

If "certbot show_account" gives an account Thumbprint that should be the one expected when challenging the http server, not another one; this is a violation of RFC 8555
The Thumbprint expected by the issue/renew process is not documented anywhere, this is a bug
The Thumbprint expected by the issue/renew process changes if you move the account (by copying anything in /usr/local/etc/letsencrypt/accounts/) to another machine, the Thumbprint reported by "show_account" remains the same but the one expected in gthe challenge *changes* this is a bug and a violation of the RFC. It is a violation of the RFC as as the Thumbprint should be related to the *account*, not to the machine, the certificate, the time or anything else); and it is a bug as it undocumentedly changes.

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in `/var/log/letsencrypt` by default. Feel free to redact domains, e-mail and IP addresses as you see fit.

## Here is the relevant nginx server block or Apache virtualhost for the domain I am configuring:


> The HTTP and DNS challenges are supposed to expect a component in the response to be a "thumbprint".
RFC 8555 says "base64url(Thumbprint(accountKey))", it is not written anywhere which accountKey (public? private?).

While IMO RFC 8555 could have been better structured with less words and more syntax, the RFC *does* actually specify "The key authorization[s] reflect[s] the account public key (&hellip;)" in section 10.2. While indeed `accountKey` is not directly defined, it can be inferred.

This is also strengthened by the fact [section 3.2.1 of RFC 7638](https://datatracker.ietf.org/doc/html/rfc7638#section-3.2.1) mentions that JWK Thumbprints of private keys are actually computed by using the *public* key of said private key. So in the end it doesn't really matter which "input" you provide from the perspective of RFC 8555, the result is always the same.

Further more, I cannot confirm your findings:

> server ~ # certbot show_account --staging
> Saving debug log to /var/log/letsencrypt/letsencrypt.log
> Account details for server https://acme-staging-v02.api.letsencrypt.org/directory:
>   Account URL: https://acme-staging-v02.api.letsencrypt.org/acme/acct/redacted
>   Account Thumbprint: F2low-wdeG8gHR215F_9KQPJ4udq3Gu8gsiYQeEVQb4
>   Email contact: redacted
> server ~ # certbot certonly --staging --manual -d example.com
> Saving debug log to /var/log/letsencrypt/letsencrypt.log
> Requesting a certificate for example.com
> 
> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
> Create a file containing just this data:
> 
> A6w3aksxfdydqPP9G2L6ExcQSVOHz08-bV0xCwAYNsQ.F2low-wdeG8gHR215F_9KQPJ4udq3Gu8gsiYQeEVQb4
> 
> And make it available on your web server at this URL:
> 
> http://example.com/.well-known/acme-challenge/A6w3aksxfdydqPP9G2L6ExcQSVOHz08-bV0xCwAYNsQ
> 
> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
> Press Enter to Continue^CExiting due to user request.
> server ~ # 

As you can clearly see, the thumbprint of the `show_account` subcommand *and* the thumbprint of the key authorization requested from the ACME server are the same.

I suspect other things are going on in your situation. E.g., I see you're using port 9080 for the `standalone` listener, but is your external port 80 mapped to that port (e.g. using NAT)? Because due to RFC 8555 the ACME server will always try to connect to port 80 for the `http-01` challenge, using `--http-01-port` would have no effect on that. And listening on `127.0.0.1` is a sure way the Let's Encrypt ACME server wouldn't be able to connect to that IP address anyway, so I suspect there is something else listening and answering on port 80.

I also suspect other implementation errors are the cause of the other things you're seeing.

Please also be mindful that if you use `--dry-run`, it uses a different ACME server (and in turn, account). So if you use `--dry-run`, you need to use the thumbprint from `certbot show_account --staging`.

I don't see any evidence of a bug here, but there are a lot of confounding variables in the the report. If you have a step-by-step reproduction that shows the thumbprint being reported incorrectly, please post it and I will re-open this issue. 
Otherwise, please post on https://community.letsencrypt.org/ if you would like assistance with this.



>Detail: The key authorization file from the server did not match this challenge "... QrSO3Zc" != "... jh7EdLE"

One further comment on this. The left side of this error message (which comes from the Let's Encrypt Boulder project) is the *expected* key authorization.

So the error message is telling you: I expected the key authorization to be "...QrSO3Zc", but I got "...jh7EdLE".

Since Certbot produced this output:

>Account Thumbprint: ....QrSO3Zc

It seems that you have stateless mode misconfigured.
