Non ascii characters in subjectAltName values cause UnicodeEncodeError

Going through the rfc I see that the encoding should be utf8

## My operating system is (include version):
Debian 10

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
pip

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in `/var/log/letsencrypt` by default. Feel free to redact domains, e-mail and IP addresses as you see fit.

Traceback (most recent call last):                                                       
  File "/home/*/odoo/parts/odoo/odoo/addons/base/ir/ir_cron.py", line 126, in _c
allback
    getattr(model, method_name)(*args)                                                   
  File "/home/*/odoo/parts/server-tools/letsencrypt/models/letsencrypt.py", line
 121, in _cron                                                                           
    csr = self._make_csr(account_key, domain_key_file, domain)                           
  File "/home/*/odoo/parts/server-tools/letsencrypt/models/letsencrypt.py", line
 201, in _make_csr                                                                       
    open(domain_key_file).read(), valid_domains)                                         
  File "/home/*/odoo/eggs/acme-0.36.0-py2.7.egg/acme/crypto_util.py", line 176,
in make_csr                                                                              
    value=u', '.join('DNS:' + d for d in domains).encode('ascii')                        
UnicodeEncodeError: 'ascii' codec can't encode character u'\xe9' in position 10: ordinal n
ot in range(128)                                                                         


You are correct that the protocol in general uses UTF-8, however, https://tools.ietf.org/html/rfc8555#section-5 says:

> Note that identifiers that appear in certificates may have their own
> encoding considerations (e.g., DNS names containing non-ASCII
> characters are expressed as A-labels rather than U-labels).

And https://tools.ietf.org/html/rfc8555#section-7.1.4 says:

> The only type of identifier defined by this specification is a fully
> qualified domain name (type: "dns").  The domain name MUST be encoded
> in the form in which it would appear in a certificate.  That is, it
> MUST be encoded according to the rules in Section 7 of [RFC5280].

This section of RFC5280 says that domains must first be encoded to ASCII before including them in the relevant fields of a CSR. This is the [only way that non-ASCII domains are accepted by Let's Encrypt](https://community.letsencrypt.org/t/idn-support-enabled/21469).

You must first convert your name to ASCII before calling this function.

I don't think we should automatically convert the names inside of this function because the ASCII encoded domain names have to be used elsewhere in the protocol as well. Handling this conversion automatically is already being tracked by https://github.com/certbot/certbot/issues/3614 as well.

Maybe we should update the docstring of this function to better explain the requirements here though.