Malformed fullchain.pem

Certbot (0.26.1) creates a malformed 'fullchain.pem' file if the transferred PEM certificate contains extra lines.

Transferred data:
```
HTTP 200
Cache-Control: public, max-age=0, no-cache
Content-Type: application/pem-certificate-chain; charset=utf-8
Replay-Nonce: LB3ppWq8xRWWcSbHTb4L7w
Date: Tue, 28 Aug 2018 06:39:14 GMT
Transfer-Encoding: chunked

subject=/CN=freizeitkarte-osm.de
issuer=/CN=Pebble Intermediate CA 2aafdc
-----BEGIN CERTIFICATE-----
MIIDKTCCAhGgAwIBAgIIVoM6eYUkQRAwDQYJKoZIhvcNAQELBQAwKDEmMCQGA1UE
AxMdUGViYmxlIEludGVybWVkaWF0ZSBDQSAyYWFmZGMwHhcNMTgwNjI3MTI0NzEx
WhcNMjMwNjI3MTI0NzExWjAfMR0wGwYDVQQDExRmcmVpemVpdGthcnRlLW9zbS5k
ZTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOc1qJTsNuSl/nAoluQR
f3Wbc7udoI1A0rTyhzqI9FfjevY2Ophq2Di28qakv2E1EzXg22LyCoOgd086jczq
X8wBzXYTB7gG/2ta2lsvHWEfA5dOnbEnU/Lotn5xCRM0xFQYquYX6h/vIXa0UdUj
FIXg7YMwI3MgmYbtmaXJRVI9WPMvGOh3YOr3eJDzuOqjmrnojGe6iqNmw9m9uI3q
pwo4B8Wk9BXCNOH5I6JUdXTelmt37/0uyjonzdYD8LB/w8BpMRHHLEn035PKwEOE
3XUM7dJLtFVWktSQ/tMr62YLDEygrRJAxNYHXzQLZYGJACHR41PlFIKyCcsFPuPu
hdsCAwEAAaNgMF4wDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMB
BggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB8GA1UdEQQYMBaCFGZyZWl6ZWl0a2Fy
dGUtb3NtLmRlMA0GCSqGSIb3DQEBCwUAA4IBAQAM89iP8gnx3/rYsk+JIU0GKabP
qlXtcqtDoW3C6cyas5IxvDlKgoTS+XPqtLckm48jiq1a+elK4HQ7yw2HE/t3eZ3D
lbFq/kJJJzMGbpt+hK7RHDh21airgTWUIgLmeNAaG9U8PGr1pjB+iF1LgUxwnlJ7
HN/ACqJMTPqrFp/iYA9Mdd6P9oE44ytiKtYYv55DxKUeJvnaNoQ1Ps0247bYoOqA
owZJDO/KdcipYFq+I8dIrBH07sEPIwzqV7mbfNJxFmiPuE5DGCyhrfMGBsqDhJYC
PEQEBXD5P4e6uyyetHOXZ7bTZ4KBB+EqrcIhDT2mUOVw5qUaJtAtqYz/7Wct
-----END CERTIFICATE-----

subject=/CN=Pebble Intermediate CA 2aafdc
issuer=/CN=Pebble Intermediate CA 2aafdc
-----BEGIN CERTIFICATE-----
MIIDFDCCAfygAwIBAgIIKq/cl7ICikMwDQYJKoZIhvcNAQELBQAwKDEmMCQGA1UE
AxMdUGViYmxlIEludGVybWVkaWF0ZSBDQSAyYWFmZGMwHhcNMTgwNjI3MTI0NjM4
WhcNNDgwNjI3MTM0NjM4WjAoMSYwJAYDVQQDEx1QZWJibGUgSW50ZXJtZWRpYXRl
IENBIDJhYWZkYzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALD5CFhg
mKYr4BQ4VWdSKmaXuwmz/ftCFeq7ejguPSX+bL57FH4koJ/6nDqikEQjPBzLGCs0
dU6ixrQXXR2cONJb51Z2KoBKldOqPXdjypRTFzkgQ44VTjUpIXs3HhoQc97jK3Bb
uG6C3bhbbenmmKYWUT1YAGvzMf2V6HQbGQQdeO3bB+l+/Qa8QZ3WEJun7yX6r0os
Vn/5PGHJL7vbfsuCdFAL6ibY9fHj2B5nmVCcXcjSd392v+rl4H7bJ1rMRkf1m2Ns
cUx9tv37qs+2RVj5CTwu32Kds8YdVGSivatE0vVpuxaFFKyBHZ+33RwHfWHE7JMX
F93iu89MUntodlUCAwEAAaNCMEAwDgYDVR0PAQH/BAQDAgKEMB0GA1UdJQQWMBQG
CCsGAQUFBwMBBggrBgEFBQcDAjAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEB
CwUAA4IBAQAtxpkArh5K2r5yeJC07wPsXmseXudOr484inGo5bG5mwAYZ+o8KEuB
ZawyIojcPH3xaOOspWBQ1yFcWJEGf5JrtaET9XT/UmAHp86W9tl29oE+ACXyPrx1
TzKcf0dCRdUWJPxh4NdN81rn8NUkUC0PC3aLp5xUKWv1qX01qOTJVK2j3W/QOWQE
BhUPl9yQr9jsJF84Hsua3kI9QO13PnX4AAw4+jrE08FQDlnkaaqU843LRfXyCJUR
IW9u7d/ufqRwYeQWWxRwWy8DzqDq7SUybeNHA4l6q27WeHo6xK+h3ytJAt0ZRezn
BFygWmOF/P92lNo9HTVG8AZn5tiuGtn4
-----END CERTIFICATE-----

```

Resulting fullchain.pem:
```
$ sudo cat /etc/letsencrypt/live/freizeitkarte-osm.de/fullchain.pem
-----BEGIN CERTIFICATE-----
MIIDKTCCAhGgAwIBAgIIVoM6eYUkQRAwDQYJKoZIhvcNAQELBQAwKDEmMCQGA1UE
AxMdUGViYmxlIEludGVybWVkaWF0ZSBDQSAyYWFmZGMwHhcNMTgwNjI3MTI0NzEx
WhcNMjMwNjI3MTI0NzExWjAfMR0wGwYDVQQDExRmcmVpemVpdGthcnRlLW9zbS5k
ZTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOc1qJTsNuSl/nAoluQR
f3Wbc7udoI1A0rTyhzqI9FfjevY2Ophq2Di28qakv2E1EzXg22LyCoOgd086jczq
X8wBzXYTB7gG/2ta2lsvHWEfA5dOnbEnU/Lotn5xCRM0xFQYquYX6h/vIXa0UdUj
FIXg7YMwI3MgmYbtmaXJRVI9WPMvGOh3YOr3eJDzuOqjmrnojGe6iqNmw9m9uI3q
pwo4B8Wk9BXCNOH5I6JUdXTelmt37/0uyjonzdYD8LB/w8BpMRHHLEn035PKwEOE
3XUM7dJLtFVWktSQ/tMr62YLDEygrRJAxNYHXzQLZYGJACHR41PlFIKyCcsFPuPu
hdsCAwEAAaNgMF4wDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMB
BggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB8GA1UdEQQYMBaCFGZyZWl6ZWl0a2Fy
dGUtb3NtLmRlMA0GCSqGSIb3DQEBCwUAA4IBAQAM89iP8gnx3/rYsk+JIU0GKabP
qlXtcqtDoW3C6cyas5IxvDlKgoTS+XPqtLckm48jiq1a+elK4HQ7yw2HE/t3eZ3D
lbFq/kJJJzMGbpt+hK7RHDh21airgTWUIgLmeNAaG9U8PGr1pjB+iF1LgUxwnlJ7
HN/ACqJMTPqrFp/iYA9Mdd6P9oE44ytiKtYYv55DxKUeJvnaNoQ1Ps0247bYoOqA
owZJDO/KdcipYFq+I8dIrBH07sEPIwzqV7mbfNJxFmiPuE5DGCyhrfMGBsqDhJYC
PEQEBXD5P4e6uyyetHOXZ7bTZ4KBB+EqrcIhDT2mUOVw5qUaJtAtqYz/7Wct
-----END CERTIFICATE-----
yyetHOXZ7bTZ4KBB+EqrcIhDT2mUOVw5qUaJtAtqYz/7Wct
-----END CERTIFICATE-----

subject=/CN=Pebble Intermediate CA 2aafdc
issuer=/CN=Pebble Intermediate CA 2aafdc
-----BEGIN CERTIFICATE-----
MIIDFDCCAfygAwIBAgIIKq/cl7ICikMwDQYJKoZIhvcNAQELBQAwKDEmMCQGA1UE
AxMdUGViYmxlIEludGVybWVkaWF0ZSBDQSAyYWFmZGMwHhcNMTgwNjI3MTI0NjM4
WhcNNDgwNjI3MTM0NjM4WjAoMSYwJAYDVQQDEx1QZWJibGUgSW50ZXJtZWRpYXRl
IENBIDJhYWZkYzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALD5CFhg
mKYr4BQ4VWdSKmaXuwmz/ftCFeq7ejguPSX+bL57FH4koJ/6nDqikEQjPBzLGCs0
dU6ixrQXXR2cONJb51Z2KoBKldOqPXdjypRTFzkgQ44VTjUpIXs3HhoQc97jK3Bb
uG6C3bhbbenmmKYWUT1YAGvzMf2V6HQbGQQdeO3bB+l+/Qa8QZ3WEJun7yX6r0os
Vn/5PGHJL7vbfsuCdFAL6ibY9fHj2B5nmVCcXcjSd392v+rl4H7bJ1rMRkf1m2Ns
cUx9tv37qs+2RVj5CTwu32Kds8YdVGSivatE0vVpuxaFFKyBHZ+33RwHfWHE7JMX
F93iu89MUntodlUCAwEAAaNCMEAwDgYDVR0PAQH/BAQDAgKEMB0GA1UdJQQWMBQG
CCsGAQUFBwMBBggrBgEFBQcDAjAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEB
CwUAA4IBAQAtxpkArh5K2r5yeJC07wPsXmseXudOr484inGo5bG5mwAYZ+o8KEuB
ZawyIojcPH3xaOOspWBQ1yFcWJEGf5JrtaET9XT/UmAHp86W9tl29oE+ACXyPrx1
TzKcf0dCRdUWJPxh4NdN81rn8NUkUC0PC3aLp5xUKWv1qX01qOTJVK2j3W/QOWQE
BhUPl9yQr9jsJF84Hsua3kI9QO13PnX4AAw4+jrE08FQDlnkaaqU843LRfXyCJUR
IW9u7d/ufqRwYeQWWxRwWy8DzqDq7SUybeNHA4l6q27WeHo6xK+h3ytJAt0ZRezn
BFygWmOF/P92lNo9HTVG8AZn5tiuGtn4
-----END CERTIFICATE-----
```

This issue occured with a custom CA, not with the  letsencrypt CA.

Hi @Klaus-Tockloth,

Can we argue that in this case the custom CA possibly isn't following the ACME specification? (Have you checked what the ACME specification says the transferred certificate should consist of?)

Certbot could certainly check that the entire block of data downloaded from the CA can be parsed as a PEM object, but I imagine in this case it would then end up simply rejecting the CA's reply entirely, rather than stripping out the extraneous data.

Thanks for looking into this. The reality is one step more complex. The Custom CA creates the certificate in PKCS7 format. This is converted with openSSL into PEM format. The resulting file contains the extra lines.

```
openssl pkcs7 -print_certs -in PKCS7 -out PEM
```

I assume that openSSL creates a proper PEM file, but I'm not sure. We have to look into the PEM spec (not the ACME spec).

PS: I opened this issue in order to make Certbot more robust (the hard part of software development). I agree that this issue has low priority or is not relevant in conjunction with the letsencrypt CA. So feel free to close this issue without any solution.

BTW: The lego ACME client handles the extra lines correctly.

The 'PEM' spec (RFC7468, April 2015) allows "Explanatory Text".

```
5.2.  Explanatory Text

   Many tools are known to emit explanatory text before the BEGIN and
   after the END lines for PKIX certificates, more than any other type.
   If emitted, such text SHOULD be related to the certificate, such as
   providing a textual representation of key data elements in the
   certificate.

Subject: CN=Atlantis
Issuer: CN=Atlantis
Validity: from 7/9/2012 3:10:38 AM UTC to 7/9/2013 3:10:37 AM UTC
-----BEGIN CERTIFICATE-----
MIIBmTCCAUegAwIBAgIBKjAJBgUrDgMCHQUAMBMxETAPBgNVBAMTCEF0bGFudGlz
MB4XDTEyMDcwOTAzMTAzOFoXDTEzMDcwOTAzMTAzN1owEzERMA8GA1UEAxMIQXRs
YW50aXMwXDANBgkqhkiG9w0BAQEFAANLADBIAkEAu+BXo+miabDIHHx+yquqzqNh
Ryn/XtkJIIHVcYtHvIX+S1x5ErgMoHehycpoxbErZmVR4GCq1S2diNmRFZCRtQID
AQABo4GJMIGGMAwGA1UdEwEB/wQCMAAwIAYDVR0EAQH/BBYwFDAOMAwGCisGAQQB
gjcCARUDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcDAzA1BgNVHQEE
LjAsgBA0jOnSSuIHYmnVryHAdywMoRUwEzERMA8GA1UEAxMIQXRsYW50aXOCASow
CQYFKw4DAh0FAANBAKi6HRBaNEL5R0n56nvfclQNaXiDT174uf+lojzA4lhVInc0
ILwpnZ1izL4MlI9eCSHhVQBHEp2uQdXJB+d5Byg=
-----END CERTIFICATE-----

            Figure 7: Certificate Example with Explanatory Text
```


If have opened a corresponding issue concerning the ACME spec:

https://github.com/ietf-wg-acme/acme/issues/446

The ACME spec team has clarified the usage of explanatory text within a PEM-formatted certificate. draft-ietf-acme-acme-15 (25. September 2018) specifies this:

```
9.1.  MIME Type: application/pem-certificate-chain

   A file of this type contains one or more certificates encoded with
   the PEM textual encoding, according to RFC 7468 [RFC7468].  The
   textual encoding of certificates in this file MUST use the strict
   encoding and MUST NOT include explanatory text.  The ABNF for this
   format is as follows, where "stricttextualmsg" and "eol" are as
   defined in Section 3 of RFC 7468:

   certchain = stricttextualmsg *(eol stricttextualmsg)_
```
Explanatory text isn't allowed and this issue can be closed. But I think it could be a good idea to analyse the source code and find the reason for the peculiar parsing behavior. Just to avoid  problems in the future.